###### Requirements without Version Specifiers ######
fbs
keras
matplotlib
sklearn
tensorflow
imageio
scikit-image
joblib
seaborn
numpy
pyqtdeploy

###### Requirements with Version Specifiers ######
PyQt5 == 5.9.2
PyInstaller == 3.4